{% extends 'master.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="">
            <div class="row bg-white p-5">
                <div class="cell-md-9  cell-lg-9">
                    <div class="row">
                        <div class="cell-md-12">
                            <div class="h3 text-upper text-bold text-leader muted fg-red p-0 m-0 border">A la Une !</div>
                            <hr class="mt-2 border bd-red bd-dark border-top border-size-2">
                        </div>
                        <div class="cell-md-8">
                            <div class="img-container" >
                                {% for media in last_article.medias.all %}
                                    {% ifchanged media.source.url %}
                                        {% if forloop.first %}
                                            <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="image 2" class="w-100">
                                        {% endif %}
                                    {% endifchanged %}
                                {% endfor %}
                                <div class="">
                                    <h2 class="text-leader text-center">
                                        <a href="{{ last_article.get_absolute_url }}" class="text-light">
                                            {{ last_article.title }}
                                        </a>
                                    </h2>
                                    <p class="mt-4 mb-4 text-small">
                                        {{ last_article.content | truncatewords_html:30 | safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cell-md-4 cell-lg-4">
                            {% for item in small_articles %}
                                <div class="img-container pb-1">
                                    <a href="" id="img-dropdown{{ item.id }}">
                                        {% for media in item.medias.all %}
                                            {% if forloop.first %}
                                                <img src="{{ MEDIA_URL }}{{ media.source.url }}" class="image" class="w-100">
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                    <div class="pos-relative">
                                        <div class="bg-red fg-white"
                                                data-role="dropdown"
                                                data-toggle-element="#img-dropdown{{ item.id }}">
                                            <p class="p-5 text-center ">
                                                <a class="fg-white" href="{{ item.get_absolute_url }}">
                                                    {{ item.title }}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="cell-md-3 mt-10">
                    <div class="row">
                        <div class="cell-12 img-container">
                            <img src="{% static '/img/logo.png' %} " alt="pub">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="cell-md-9 cell-lg-9">
                <div class="cell-md-12 mt-5">
                    <div class="h3 text-upper text-bold text-leader muted fg-red p-0 m-0 border">Culture</div>
                    <hr class="mt-2 border bd-red bd-dark border-top border-size-2">
                </div>
                {% for actualite in actualites %}
                    <div class="row bg-white p-3 m-2">
                        <div class="cell-md-5">
                            <span class="img-container">
                                {% for media in actualite.medias.all %}
                                    {% if forloop.first %}
                                        <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="image{{ actualite.id }}" class="w-100">
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                        <div class="cell-md-6 ml-md-5">
                            <div class="text-leader2 text-bold">{{ actualite.title }}</div>
                            <div class="second-label mt-3 text-just muted" style="font-family: Arial; font-size: 12; ">
                                {{ actualite.content | safe | truncatewords_html:17 }}
                            </div>
                            <p class="muted fg-gray my-3 text-small">
                                <span class="mif-user"></span>
                                <strong class="fg-red"><em>{{ actualite.author | default_if_none:'Saiba Ben' }}</em></strong>,
                                <span class="mif-alarm"></span> <em>{{ actualite.created | date }}</em>
                            </p>  
                            <div class="">
                                <a href="{{ actualite.get_absolute_url }}" class="button secondary">Lire l'article...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if page_numbs > 1 %}
                    <ul class="pagination no-gap mt-5">
                        {% for page in paginator %}
                            {% if page.count > 5 %}{% endif %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Pécedent</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active bg-red fg-white">
                                <a class="page-link " href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="#">suivant</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            
            <div class="cell-md-3 cell-lg-3 mt-8">
                {% include 'site_news/pages/inc/select_category.html' %}
            </div>
            
        </div>

        {% include 'site_news/pages/inc/video_n_event.html' %}
    </div>
{% endblock content %}
