{% extends 'master.html' %}
{% load static %}

{% block title %} 
    Evénements à venir
{% endblock title %}

{% block content %}
<div class="row">
    <ul class="">
        {% for event in events %}
            <div class="cell-md-12">
                <li class="row my-5 bg-white p-1 rounded" style="box-shadow: 0 0 1px #333333;">
                    <div class="cell-md-9">
                        <div class="h3 text-leader text-bold fg-red">
{#                            <span class="text-leader2 badge inline bg-red fg-white">#}
{#                                {{ event_title }}#}
{#                            </span>#}
                            <div id="{{ event.id }}" class="cell-md-12">{{ event.event_title }}</div>
                        </div>
                        <div class="text-leader2 pr-5 text-just">
                            {{ event.description | default:"Aucune information disponible sur l'événement pour le moment" | safe }}
                        </div>
                    </div>
                    <div class="cell-md-3 img-container d-flex flex-align-center  flex-justify-center w-100">
                        <img src="{{ MEDIA_URL }}{{ event.media.url }}" alt="{{ event }}" class="image"
                                style="padding: 3px; border: 1px solid rgb(214, 209, 209)">
                    </div>
                    <div class="cell-mf-12">
                        <div class="remark alert">
                            <div class="text-leader2">
                                Une date : <span class=" text-bold">{{ event.event_date | date }}</span><br>
                                Une heure : <span class=" text-bold">{{ event.event_date | date:'H : i' }}</span><br>
                                Un endroit : <span class=" text-bold">{{ event.event_place | safe }}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock content %}