{% extends 'master.html' %}
{% load static %}

{% block title %} Vidéos | Le Griot d'Afrique {% endblock %}


{% block content %}
<!-- Page Content -->
    <section class="py-5">
        <div class="container">

            <div class="row">
                <div class="cell-lg-8 cell-sm-12">
                    <iframe
                        class="text-center"
                        width="100%"
                        height="398"
                        {% for url_link in last_video.medias.all %}
                            src="{{ url_link.url }}"
                        {% endfor %}
                        frameborder="1"
                        allow="accelerometer;
                        autoplay;
                        encrypted-media;
                        gyroscope;
                        picture-in-picture"
                        allowfullscreen
                    >
                    </iframe>

                    <div class="my-5 text-leader">
                        <div class="info">
                            <p class="text-center">
                                <a href="{{ last_video.get_absolute_url }}">
                                    {{ last_video.title }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="cell-lg-4 cell-sm-12 px-5">
                    <h2 class="alert alert-dark text-leader"
                        style="border-bottom: 3px solid #cc030b; margin: 0 auto 10px;
                        color: #551400; font-weight: bold; padding: 7px 20px;">
                        Plus de vidéos
                    </h2>

                    {% for video in videos %}
                        <div class="row">
                            <div class="cell-12 bg-white px-2">
                                <div class="row">
                                    <div class="cell-md-4">
                                        <div class="img-container">
                                            {% for media in video.medias.all %}
                                                <img class="image w-100" src="{{ MEDIA_URL }}{{ media.source.url }}" alt="">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="cell-md-8">
                                        <span class="label ">
                                            <a href="{{ video.get_absolute_url }}">{{ video.title | truncatewords_html:12 }}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> <hr>
                    {% endfor %}
                </div>
            </div>

            {% include 'inc/last_videos.html' %}        
    </section>
{% endblock content %}
