<div class="container">
    <div class="row mb-5 mt-0 text-center">
        <div class="cell-md-6 cell-sm-8 offset-md-3 offset-sm-2">
            <form action="{% url 'search:search' %}" method="GET" class="cell-12">
                <input type="text" name="query" placeholder="Rechercher un article" data-role="input" data-search-button="true">
            </form>
        </div>
    </div>
</div>
