    <div data-role="panel"
        class="w-100 p-0"
        data-title-caption="<span class='text-upper'>Les Catégories</sapn>"
        data-title-icon="<span class='mif-leanpub'></span>"
        >
        <table class="table striped">
            {% for category in categories %}
                <tr>
                    <td class="label text-leader2">
                        <a href="{{ category.get_absolute_url }}">{{ category.description }}</a>
                    </td>
                    <td class="second-label">{{ category.articles.count }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
