{% load static %}
{% load humanize %}

    <div class="row ">
        <div class="cell-md-6 pr-2">
            <hr class="mt-15 border bd-dark border-top border-size-2">
            <div class="h3 text-upper text-bold muted p-0 m-0 fg-red">Events</div>                
            <div class="row mt-7">
                <div class="cell-md-12 cell-lg-12">
                    <div class="row">
                        <div class="cell-6">
                            <div class="img-container">
                                <img src="{% static 'img/logo.png' %}" alt="spectacle" class="">
                            </div>
                        </div>
                        <div class="cell-6">
                            <ul class="feed-list">
                                {% for event in events %}
                                    <li>
                                        <span class="label text-leader2">
                                            <span class="mif-chevron-right fg-red"></span>
                                            <a href="{% url 'news:events' %}#{{ event.id }}">
                                                {{ event }}
                                            </a><br>
                                            <span class="text-small ml-6 mt-3 fg-red">
                                                {{ event.event_place }} - {{ event.event_date | date }} {{ event.event_date | time }}
                                            </span><br>
                                            <span class="">{{ event.tags.description }}</span>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-6 pl-2">
            <hr class="mt-15 border bd-dark border-top border-size-2">
            <div class="h3 text-upper text-bold muted p-0 m-0 fg-red">Vidéos</div>                
            <div class="row mt-7">
                <div class="cell-md-12 cell-lg-12">
                    <div class="row">
                        <div class="cell-6">
                            <div class="img-container">
                                <img src="{% static 'img/logo.png' %}" alt="spectacle" class="">
                            </div>
                        </div>
                        <div class="cell-6">
                            <ul class="feed-list">
                                {% for video in videos %}
                                    <li>
                                        <span class="label text-leader2">
                                            <span class="mif-chevron-right fg-red"></span>
                                            <a href="{{ video.get_absolute_url }}">
                                                {{ video.title }}
                                            </a>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
