{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
  
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'ico/favicon.png' %}" alt="Logo" width="50">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>

    {% endblock branding %}
{% block nav-global %}{% endblock %}
