{% extends 'master.html' %}
{% load static %}
{% block title %}
    Résultat de la recherche
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="cell-md-9 cell-lg-9">
            <div class="cell-md-12">
                <div class="remark bg-red px-5">
                    <div class="text-bold text-leader fg-white">Résultat de recherche : "{{ query }}"</div>
                </div>
                <hr class="mt-2 border bd-red bd-dark border-top border-size-2">
            </div>
            {% if queries.count > 0 %}
                {% for search in queries %}
                    <div class="row bg-white p-3 m-2">
                        <div class="cell-md-5">
                            <span class="img-container">
                                {% for media in search.media_elements.all %}
                                    <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="image{{ search.article.id }}">
                                {% endfor %}
                            </span>
                        </div>
                        <div class="cell-md-6 ml-md-5">
                            <div class="text-leader2 text-bold">{{ search.article.title }}</div>
                            <div class="second-label mt-3 text-just muted" style="font-family: Arial; font-size: 12; ">
                                {{ search.content | safe | truncatewords_html:15 }}
                            </div>
                            <p class="muted fg-gray my-3 text-small">
                                Par <strong class="fg-red"><em>{{ search.article.author | default_if_none:'Saiba Ben' }}</em></strong>, 
                                le <em>{{ search.article.created | date }}</em> 
                            </p>  
                            <div class="">
                                <a href="{{ search.get_absolute_url }}" class="button secondary">Lire l'article...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="text-leader fg-red my-5 px-5"> 
                    Aucun résultat correspondant à la recherche 
                    <span class="text-bold">"{{ query }}"</span>
                <h2> 
            {% endif %}
        </div>

        
        <div class="cell-md-3 cell-lg-3 mt-8">
            {% include 'site_news/pages/inc/select_category.html' %}
        </div>
        
    </div>
{% endblock content %}
