{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="author" content="Fusion Production">
    <meta name="keyword" content="Fusion Production">
    
    <title>
        {% block title %}Le griot d'Afrique{% endblock title %}
    </title>
    
    <link rel="stylesheet" href="{% static 'css/metro-all.min.css' %}">
    <link rel="shortcut icon" href="{% static '/ico/favicon.png' %} " type="image/x-icon">
    <style>
        .container a {
            text-decoration: none;
        }
    </style>

    <script src="{% static 'js/metro.min.js' %}"></script>
</head>
<body class="bg-light">

    <!-- NAVBAR -->
    {% block navbar %}
        {% include 'inc/navbar.html' %}
    {% endblock navbar %}
    <!-- #/NAVABAR -->

    <div class="container mt-15">
        {% block search %}
            {% include 'site_news/pages/inc/search.html' %}
        {% endblock search %}

        {% block content %}{% endblock content %}
    </div>

    {# FOOTER #}
    <footer class="footer fg-white bg-darkRed mt-20 p-10">
        <div class="container">
            {% block footer %}
                {% include 'inc/footer.html' %}
            {% endblock footer %}
        </div>
    </footer>
    
</body>
</html>
