{% extends 'master.html' %}
{% load static %}

{% block content %}
    <div class="container mt-20">
        <div class="">
            <div class="row">
                <div class="cell-md-12">
                    <ul class="breadcrumbs ">
                        <li class="page-item">
                            <a href="{% url 'news:home' %}">Accueil</a>
                        </li>
                        <li class="page-item">
                            <a href="{% url 'news:actualites' %}">Actualités</a>
                        </li>
                        <li class="page-item">
                            <a href="{{ category_selected.get_absolute_url }}">
                                {{ category_selected.description | lower }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white p-5">
                <div class="cell-md-9  cell-lg-9">
                    <div class="row">
                        <div class="cell-md-12">
                            <div class="h3 text-upper text-bold text-leader muted fg-red p-0 m-0 border">
                                {{ category_selected.articles.count }} Article{{ category_selected.articles.count | pluralize }} 
                                dans la catégorie "{{ category_selected.description }}"
                            </div>
                            <hr class="mt-2 border bd-red bd-dark border-top border-size-2">
                        </div>
                    </div>
                    {% comment %} {% for article_content in category_selected.articles %} {% endcomment %}
                    {% for item in content %}
                        <div class="row bg-light p-3 m-2">
                            <div class="cell-md-5">
                                <span class="img-container">
                                    {% for media in item.content_articles.media_elements.all %}
                                        <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="image{{ media.article.id }}">
                                    {% endfor %}
                                </span>
                            </div>
                            <div class="cell-md-6 ml-md-5">
                                <div class="text-leader2 text-bold">{{ item.title }}</div>
                                <div class="second-label mt-3 text-just muted" style="font-family: Arial; font-size: 12; ">
                                    {{ item.content_articles.content | safe | truncatewords_html:15 }}
                                </div>
                                <p class="muted fg-gray my-3 text-small">
                                    Par <strong class="fg-red"><em>{{ item.author | capfirst | default_if_none:'Saiba Ben' }}</em></strong>, 
                                    le <em>{{ item.created | date }}</em> 
                                </p>  
                                <div class="">
                                    <a href="{{ item.get_absolute_url }}" class="button secondary">Lire l'article...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
                <div class="cell-md-3 mt-10">
                    <div class="row">
                        <div class="cell-12 img-container">
                            <img src="{% static '/img/logo.png' %} " alt="pub">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-md-12 cell-lg-12 mt-8">
                            {% include 'site_news/pages/inc/select_category.html' %}
                        </div>       
                    </div>
            
                </div>
            </div>
        </div>


        {% include 'site_news/pages/inc/video_n_event.html' %}
    </div>
{% endblock content %}
