{% extends 'master.html' %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}

{% block title %}
    {{ article }}
{% endblock title %}



{% block content %}
    <div>
        <div class="row pb-5">
            <div class="cell-md-9  cell-lg-9">
                <ul class="breadcrumbs">
                    <li class="page-item">
                        <a href="{% url 'news:home' %}">Accueil</a>    
                    </li>
                    <li class="page-item">
                        <a href="{% url 'news:actualites' %}">Actualites</a>
                    </li>
                    <li class="page-item">
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </li>
                </ul>
                <div class="row bg-white p-5" style="box-shadow: 0px 0px 2px #ccc">
                    <div class="cell-md-12  text-center">
                        <span class="badge inline bg-red fg-white h2">
                            {{ article.category }}
                        </span>
                        <span class="fg-red text-leader ml-10">
                            {{ article.title | upper }}
                        </span>
                        <hr>
                    </div>
                    <span class="cell-md-12 muted fg-gray mt-0 mb-3 text-center">
                        Par <strong class="fg-red mr-10"><em>{{ article.author | capfirst | default_if_none:"Ben Saiba" }}</em></strong>
                        <span class="mif-alarm"></span> <em>{{ article.created }}</em> 
                    </span>  

                    <div class="cell-md-12">
                        <div class="img-container thumbnail">
                            {% for media in article.medias.all %}
                                <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="image 2" class="w-100">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-just p-5 mt-5">
                        <p class="indent-letter">
                            {{ article.content | safe }}
                        </p>
{#                        <hr>#}
{#                        <div class="cell-lg-2 cell-md-4 cell-sm-12 mt-5">#}
{#                            <a href="#" class="button secondary">Laisser un commentaire</a>#}
{#                        </div>#}
                    </div>
                </div>

                <!-- ARTICLES SIMILAIRES -->
                {% if from_same_category.count > 0 %}
                    <div class="row bg-white">
                        <div class="cell-md-12">
                            <hr class="mt-10 border bd-red bd-dark border-top border-size-2">
                            <div class="h3 text-upper text-bold muted fg-red">Articles similaires</div>
                        </div>
                        <div class="cell-md-12">
                            <div class="row">
                                {% for item in from_same_category %}
                                    <div class="cell-md-4 cell-lg-4">
                                        <div class="card image-header p-0">
                                            <div class="card-header w-100" 
                                                {% for media in item.medias.all %}
                                                    style="background-image: url({{ MEDIA_URL }}{{ media.source.url }});"
                                                {% endfor %}
                                                >
                                            </div>
                                            <div class="card-content p-2">
                                                <div class="text-leader2">
                                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                                </div>
                                                <hr>
                                                <p class="muted fg-gray my-1 mr-10">
                                                    Par 
                                                    <strong class="fg-red mr-2">
                                                        <em>{{ item.author | capfirst | default_if_none:"Ben Saiba" }} </em>
                                                    </strong>
                                                    <span class="mif-alarm"></span> <em>{{ item.created | date }}</em>
                                                </p>
                                                <span class="text-lead">
                                                    {{ item.content | safe | truncatewords_html:20 }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- /ARTICLES SIMILAIRES -->
            </div>
            <div class="cell-md-3">
                <div class="row">
                    <div class="cell-12 img-container p-5 ml-5 figure text-center">
                        <a href="https://www.smartdevci.com" class="img-container text-center">
                            <img src="{% static '/img/logo-marron.png' %} " alt="pub">
                        </a>
                        <div class="caption fg-red">Parténaire offciel</div>
                    </div>
                    <div class="cell-12 mt-10 ml-5">
                        {% include 'site_news/pages/inc/select_category.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'site_news/pages/inc/video_n_event.html' %}

{% endblock content %}
