{% extends 'master.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ video.title }}
{% endblock title %}



{% block content %}
    <div>
        <div class="row">
            <div class="cell-md-9  cell-lg-9">
                <ul class="breadcrumbs">
                    <li class="page-item">
                        <a href="{% url 'news:home' %}">Accueil</a>    
                    </li>
                    <li class="page-item">
                        <a href="{% url 'news:videos-list' %}">Vidéos</a>
                    </li>
                    <li class="page-item">
                        <a href="{{ video.get_absolute_url }}">{{ video.article.title }}</a>
                    </li>
                </ul>
                <div class="row bg-white p-5" style="box-shadow: 0px 0px 2px #ccc">
                    <div class="cell-md-12  text-center">
                        <span class="badge inline bg-red fg-white h2">
                            {{ video.category }}
                        </span>
                        <span class="fg-red text-leader ml-10">
                            {{ video.title | upper }}
                        </span>
                        <hr>
                    </div>                    
                    <p class="cell-md-12 muted fg-gray mt-0 mb-3 text-center">
                        <span class="mif-user"></span>
                        <strong class="fg-red mr-10"><em>{{ video.author | capfirst | default_if_none:"Ben Saiba" }}</em></strong>
                        <span class="mif-alarm"></span> 
                        <em>{{ video.created | date }}</em> 
                    </p>

                    <div class="cell-md-12">
                        <iframe 
                            class="text-center"
                            width="100%" 
                            height="460" 
                            {% for link in video.medias.all %}
                                src="{{ link.url }}"
                            {% endfor %}
                            frameborder="2" 
                            allow="accelerometer; 
                            autoplay; 
                            encrypted-media; 
                            gyroscope; 
                            picture-in-picture" 
                            allowfullscreen
                        >
                        </iframe>

                        {% comment %} <div class="cell-md-12">
                            <div class="h2 text-center fg-red text-leader">
                                {{ video.article.title }}
                            </div>
                            <hr>
                        </div> {% endcomment %}
                    </div>
                    <div class="text-just p-5 mt-5">
                        <p class="indent-letter">
                            {{ video.content | safe }}
                        </p>
                        <!-- <hr>
                        <div class="cell-lg-2 cell-md-4 cell-sm-12 mt-5">
                            <a href="#" class="button secondary">Laisser un commentaire</a>
                        </div> -->
                    </div>
                </div>

                <!--{# {% include 'site_news/pages/inc/newsletter.html' %} #}-->

                <!-- ARTICLES SIMILAIRES -->
                {% if num_article_of_this_category > 0 %}
                    <div class="row bg-white">
                        <div class="cell-md-12">
                            <hr class="mt-10 border bd-red bd-dark border-top border-size-2">
                            <div class="h3 text-upper text-bold muted fg-red">Articles similaires</div>
                        </div>
                        <div class="cell-md-12">
                            <div class="row">
                                {% for article in from_same_category %}
                                    <div class="cell-md-4 cell-lg-4">
                                        <div class="card image-header p-0">
                                            <div class="card-header w-100" 
                                                style="background-image: url({{ MEDIA_URL }}{{ article.image.url }});"></div>
                                            <div class="card-content p-2">
                                                <div class="text-leader2">
                                                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                                </div>
                                                <hr>
                                                <p class="muted fg-gray my-1 mr-10">
                                                    Par <strong class="fg-red">
                                                        <em>{{ article.created_by | default_if_none:"Ben Saiba" }}</em>
                                                    </strong>
                                                    , le <em>{{ article.created_at | date }}</em> 
                                                </p>
                                                <span class="text-lead">
                                                    {{ article.content | safe | truncatewords_html:20 }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- /ARTICLES SIMILAIRES -->
            </div>
            <div class="cell-md-3">
                <div class="row">
                    <div class="cell-12 img-container">
                        <img src="{% static '/img/logo.png' %} " alt="pub">
                    </div>
                    <div class="cell-12 mt-10 ml-5">
                        {% include 'site_news/pages/inc/select_category.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'site_news/pages/inc/video_n_event.html' %}

{% endblock content %}
