{% load static %}

<div class="row">
    <div class="cell-md-3 text-center">
        <div class="h4 text-upper">Le griot d'Afrique</div>
        <ul class="inline-list reduce-1" id="social-menu">
            <li>
                <a href="https://www.facebook.com/SmartDevCI/"
                    ><span class="mif-facebook2 mif-2x"></span
                ></a>
            </li>
            <li>
                <a href="https://twitter.com/SmartDevCI"
                    ><span class="mif-twitter mif-2x"></span
                ></a>
            </li>
            <li>
                <a href="#"><span class="mif-youtube mif-2x"></span></a>
            </li>
            <li>
                <a href="https://github.com/smartdev/"
                    ><span class="mif-github mif-2x"></span
                ></a>
            </li>
        </ul> 
        <div class="second-label">
            2020 &copy; Fusion Production. Tous droits réservés
        </div>
    </div>
    <div class="cell-md-3 text-center fg-white">
        <div class="h4 text-upper">Liens utiles</div>
        <ul class="text-center" style="list-style-type: none; color: white ">
            <li><a href="{% url 'news:home' %}">Accueil</a></li>
            <li><a href="{% url 'news:actualites' %}">Actualités</a></li>
            <li><a href="{% url 'news:videos-list' %}">Videos</a></li>
            <li><a href="{% url 'news:events' %}">Evénements</a></li>
        </ul>
    </div>
    <div class="cell-md-3">
        {% include 'marketing/newsletter.html' %}
    </div>
    <div class="cell-md-3">
        <!-- <div class="h4 text-upper">Newsletters</div>
        <form action="">
            <input type="email" 
                data-role="input"
                data-search-button="true"
                data-search-button-icon="<span class='mif-paper-plane mif-2x'></span>"
                data-prepend="Email"
                placeholder="Entrer un email valid">
        </form> -->
        <div class="text-center second-label mt-5">
            <p class="text-leader">
                Conception & <br>développement 
            </p> 
            <a href="https://www.smartdevci.com" class="img-container mt-3">
                <img src="{% static 'img/logo-white.png' %}" alt="" class="image w-50">
            </a>
        </div>
    </div>
</div>
