{% load static %}
{% load humanize %}

<!-- DERNIÈRE NOUVELLES -->       
<div class="row ">
    <div class="cell-md-12">
        <div class="h3 text-upper text-bold muted p-0 m-0 border">Dernières nouvelles</div>
    </div>
    <div class="cell-md-8 mt-5">
        <div class="row">
            {% for item in all_article %}
                <div class="cell-md-6 cell-lg-4">
                    <div class="card image-header p-0">
                        <div class="card-header w-100" 
                            {% for media in item.medias.all %}
                                {% if forloop.first  %}
                                    style="background-image: url({{ MEDIA_URL }}{{ media.source.url }})";
                                {% endif %}
                            {% endfor %}
                            >
                        </div>
                        <div class="card-content p-2">
                            <div class="badge inline bg-red fg-white">
                                {{ item.category }}
                            </div>
                            <hr>
                            <p class="muted fg-gray my-1">
{#                                <span class="mif-user mr-2"></span>#}
{#                                <strong class="fg-red">#}
{#                                    <em>{{ item.author | capfirst | default_if_none:'Ben Saiba' }}</em>#}
{#                                </strong>#}
                                <span class="mif-alarm mr-2"></span>
                                <em>{{ item.created | naturaltime }}</em>
                            </p>
                            <span class="text-leader2" data-role="hint" data-hint-text="{{ item.title }}">
                                <a href="{{ item.get_absolute_url }}">{{ item.title | truncatewords_html:7 }}</a>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- LES PLUS LUS -->
    <div class="cell-md-4 mt-8">
        <div class="row">
            <div data-role="panel"
                class="w-100 p-0 "
                data-title-caption="<span class='text-leader fg-darkRed text-upper'>Les plus lus</sapn>"
                data-title-icon="<span class='mif-open-book'></span>"
                >
                <ul class="step-list">
                    {% for item in more_view %}
                        {% if item.view > 0 %}
                            <li class="img-container">
                                <div class="row">
                                    <div class="cell-sm-4">
                                        {% for media in item.medias.all %}
                                            {% if forloop.first %}
                                                <img class="avatar" src="{{ MEDIA_URL }}{{ media.source.url }}" alt="{{ item.title }}" >
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="cell-sm-8">
                                        <span class="secondary-text "
                                            data-role="hint"
                                            data-hint-text="{{ item.title }}">
                                            <a href="{{ item.get_absolute_url }}">
                                                {{ item.title | truncatewords:6 }}
                                            </a>
                                        </span><br>
                                        <span class="text-small fg-darkGray">
                                            {{ item.created | date }}
                                            <span class="mif-eye ml-5"> {{ item.view }}</span>
                                        </span>
                                    </div>                                
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /LES PLUS LUS -->
</div>
<!-- /DERNIÈRE NOUVELLES -->
