{% load static %}
{% load humanize %}

<!-- VIDEO -->
<div class="row">
    <div class="cell-md-8">
        <hr class="mt-10 border bd-dark border-top border-size-2">
        <div class="row">
            <div class="cell-md-12">
                <div class="h3 text-upper text-bold muted p-0 m-0 border fg-red">Vidéos</div>
            </div>
        </div>
        <div class="row">
            {% for video in videos %}
                <div class="cell-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="avatar">
                                <span class="mif-play mif-3x fg-red"></span>
                            </div>
                            <div class="name">{{ video.title | truncatewords:6 }}</div>
                            <div class="date">{{ video.created | date }}</div>
                        </div>
                        <div class="card-content p-2">
                            <a href="{{ video.get_absolute_url }}" class="flex">
                                <span class="mif-play mif-3x bg-red fg-white px-2" id="play" 
                                    style="position: absolute; top:-5px; left: 40%; border-radius: 50%">
                                </span>
                                {% for item in video.medias.all %}
                                    <img src="{{ MEDIA_URL }}{{ item.source.url }}" style="width: 100%">
                                {% endfor %}
                            </a>
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="cell-md-4">
            <div class="row">
                <div class="cell-12 img-container p-10 my-10 figure text-center">
                    <a href="https://www.smartdevci.com" class="img-container text-center">
                        <img src="{% static '/img/logo-marron.png' %} " alt="pub" class="image w-50">
                    </a>
                    <div class="caption text-leader fg-red">Parténaire offciel</div>
                </div>
            </div>
    </div>
</div>
<!-- /VIDEO -->
