{% load static %}

{% url 'news:home' as home_url %}
{% url 'news:actualites' as actu_url %}
<!-- {% url 'article' as article_url %} -->
{% url 'news:videos-list' as video_url %}
{% url 'news:events' as event_url %}



<div data-role="appbar" data-expand-point="md" class="bg-darkRed fg-white clear">
    <div class="">
        <a class="brand no-hover bg-white" >
            <img src="{% static 'img/logo.png' %} " alt="Logo" width="50">
        </a>
    </div>
    <ul class="app-bar-menu text-upper">
        <li class="{% if request.path == home_url %}bg-white fg-darkRed {% endif %}">
            <a href="{% url 'news:home' %}">Accueil</a>
        </li>
        <li class="{% if request.path == actu_url %}bg-white fg-darkRed {% endif %}">
            <a href="{% url 'news:actualites' %}">Actuaités</a>
        </li>
        <li class="{% if request.path == video_url %}bg-white fg-darkRed {% endif %}">
            <a href="{% url 'news:videos-list' %}">Vidéos</a>
        </li>
        <!-- <li>
            <a href="#">Oeuvres d'Arts</a>
        </li> -->
        <li class="{% if request.path == event_url %}bg-white fg-darkRed {% endif %}">
            <a href="{% url 'news:events' %}">Evénements</a>
        </li>    </ul>
</div>
