{% load static %}
{% load humanize %}

<div class="bg-white p-5">
    <div class="row">
        <div class="cell-md-12  cell-lg-6">
            <div class="row">
                <div class="cell-lg-8 d-flex flex-align-stretch">
                    <div class="card">
                        <div class="card-header m-0 p-0">
                            {% for media in last_article.medias.all %}
                                <a href="{{ last_article.get_absolute_url }}" style="text-decoration: none">
                                    {% if forloop.first %}
                                        <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="last_article.id" class="w-100">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="card-content p-3">
                            <div class="text-leader">
                                <a href="{{ last_article.get_absolute_url }}" style="text-decoration: none">
                                    {{ last_article.title }}
                                </a>
                            </div>
                            <hr>
                            <div class="text-secondary text-just wrap">
                                {{ last_article.content | safe | truncatewords_html:50 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-4">
                    {% for article in articles %}
                        <div class="row">
                            <div class="card">
                                <div class="card-header m-0 p-0">
                                    {% for media in article.medias.all %}
                                        <a href="{{ article.get_absolute_url }}" style="text-decoration: none">
                                            {% if forloop.first %}
                                                <img src="{{ MEDIA_URL }}{{ media.source.url }}" alt="article.id" class="w-100">
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="card-content">
                                    <a href="{{ article.get_absolute_url }}" style="text-decoration: none">
                                        <div class="text-center p-1 text-secondary">{{ article.title }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="cell-md-12 cell-lg-6">
            <div class="card">
            <iframe
                class="text-center card-header"
                width="100%" 
                height="398" 
                data-logo-height="65"

                {% for url_link in last_video.medias.all %}
                    src="{{ url_link.url }}"
                {% endfor %}
                frameborder="1" 
                allow="accelerometer; 
                autoplay; 
                encrypted-media; 
                gyroscope; 
                picture-in-picture" 
                allowfullscreen
            >
            </iframe>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        {% for small_article in small_articles %}#}
{#            <div class="cell-md-6 cell-lg-3 p-0">#}
{#                <div class="card image-header">#}
{#                    <div class="card-header w-100 fg-white" #}
{#                        {% if forloop.first %}#}
{#                            style="{% for media in small_article.medias.all %}background-image: url('{{ MEDIA_URL }}{{ media.source.url }}');{% endfor %}"#}
{#                        {% endif %}#}
{##}
{#                    >#}
{#                        <div class="badge inline bg-red fg-white">#}
{#                            {{ small_article.category.description }} ICI nous sommes#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-content p-2">#}
{#                        <p class="muted fg-gray my-1">#}
{#                            <span class=" mif-user"></span>#}
{#                            <strong class="fg-red mr-5">#}
{#                                <em> {{ small_article.author | default_if_none:"Ben Saïba" | capfirst }} </em>#}
{#                            </strong>#}
{#                            <em class="mif-alarm">#}
{#                                {{ small_article.created | date }}#}
{#                                {{ small_article.created | date:"H:i" }}#}
{#                            </em>#}
{#                            <hr>#}
{#                            <a href="{{ small_article.get_absolute_url }}" class="text-leader">{{ small_article.title }}</a>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
</div>

<hr class="mt-20 border bd-dark border-top border-size-2">
