<div class="row">
    <div class="cell-md-12">
        <div class="h4 text-upper fg-white">Newsletters</div>
        <p class="fg-white text-leader2 pb-2">Recevez les articles quotidiens</p>
        <form action="" method="post" class="pb-2" id="form_send_mail">
            {% csrf_token %}
            {{ form }}
{#            <input type="email"#}
{#                name="email"#}
{#                data-role="input"#}
{#                data-search-button="true"#}
{#                data-search-button-icon="<span class='mif-paper-plane mif-2x'></span>"#}
{#                data-prepend="Email"#}
{#                placeholder="Entrer un email valide">#}
            <input type="submit" value="Souscrire">
        </form>
    </div>
</div>

<script>
    let form = $('#form_send_mail');
    form.on('submit enterClick', function (ev) {
        ev.preventDefault()
    })
</script>